@import "tailwindcss";

@theme {
  --color-pink-main:oklch(65.6% 0.241 354.308);
  --color-pink-neno: rgb(237, 27, 118);
  --color-blue-neno: rgb(36, 159, 156);
  --color-green-neno: rgb(197, 130, 181);
}

@layer base {

  html {
    html {
      font-family: "Inter", sans-serif;
      ;
    }
  }

}


@layer utilities {
  .filter_pink {
    filter: drop-shadow(var(--color-pink-neno) 0px 0px 5px);
  }

  .filter_blue {
    filter: drop-shadow(var(--color-blue-neno) 0px 0px 5px);
  }

  .filter_green {
    filter: drop-shadow(var(--color-green-neno) 0px 0px 5px);
  }

  .neon-glow {
    text-shadow: 0 0 10px var(--color-pink-neno), 0 0 20px var(--color-pink-neno), 0 0 30px var(--color-pink-neno)
  }

  .hover\:neon-glow:hover {
    text-shadow: 0 0 10px var(--color-pink-neno), 0 0 20px var(--color-pink-neno), 0 0 30px var(--color-pink-neno)
  }
}

.shock-animation {
  animation: shock 0.5s ease-in-out 0s infinite alternate forwards;
}

@keyframes shock {
  0% {
    transform: scale(1);
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.6);
    /* 紅色光暈 */
  }

  25% {
    transform: scale(1.1);
  }

  50% {
    transform: scale(1)
  }

  75% {
    transform: cale(1.1);
  }

  100% {
    transform: scale(1)
  }
}